/* styling of a card */

.course {
	background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
	text-align: center;
	font-family: sans-serif;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.uniAndBy {
	display: flex;
	text-align: right;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 10px;
}

.fa {
    font-size: 1.5rem;
    padding-right: 10px;
}

.fa-youtube-play{
    color: red;
}

.fa-file{
    color:#FF5A5F;
}

a {
    text-decoration: none;
	color:#444444;
	font-family:sans-serif;
	font-size: medium;
}

a:hover { 
	color: #1841D2;
}

